*{
    margin:auto;
    font-family: "Roboto", Helvetica, sans-serif;


}

.allMessage{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;

}

.messageBody{
    width: 90%;
    padding: 10px;
    border: solid 3px #0f2e60;
    border-radius: 5px;
}
