body {
    margin: auto;
}

/* Tout ce qui concerne le header */
/**/
.pageTop {

    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../background.png");
    height: 18vh;
    background-size: cover;

}
.logo img{
    width: 150px;
    height: auto;
    float: left;
    margin-left: 30px;
}
.pageTop h1 {

    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    padding: 20px;
    color: white;
    font-family: "Georgia";
}
/* Menu */
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 400px;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: darkorange;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    margin: 20px;
    font-size: 45px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    float:right;
}

.openbtn:hover {
    color:darkorange;
}



/* Réglages du fond sur lequel repose le modal */
/**/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Réglages du contenu du modal */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top:-300px; opacity:0
    }
    to {
        top:0; opacity:1
    }
}
@keyframes animatetop {
    from {
        top:-300px; opacity:0
    }
    to {
        top:0; opacity:1
    }
}
/* Le bouton pour fermer le modal */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/* Quand on passe la souris */
.close:hover,
.close:focus {
    /*color: #000;*/
    color: red;
    text-decoration: none;
    cursor: pointer;
}
/* Réglages du header du modal */
.modal-header {
    padding: 2px 16px;

    /*couleur du header et footer*/
    /*vert*/
    /*background-color: #5cb85c;*/

    /*orange comme sur la page*/
    background-color: darkorange;

    /*bleu aussi*/
    /*background-color: #0f2e60;*/

    color: white;
}
.modal-header h1 {
    text-align: center;
}
/* Réglages du body du modal */
#modal-body div {
    /* de base on cache les div pour n'afficher dans le js que ceux qu'on veut */
    display: none;

    padding: 7px 15px 7px 15px;
}
#modal-body .value {
    width: 60%;

    position: relative;
}
#modal-body .set {
    width: 40%;

    border: solid 2px black;
    border-radius: 3px;

    /*background-color: black;*/

    /* on va ici paramétrer l'affichage du bouton de réglage contenu dans cette section (s'il y en a un)*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
#modal-body div h2 {
    /*justify-content: center;*/

    text-align: center;

    margin-top: 0;
    margin-left: 10%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)

}
#modal-body img {
    border: solid 2px black;
    border-radius: 3px;

    /*margin: 7px 0px 7px 15px;*/

    padding: 3px;
}

/* paramètre du toggle switch */
/**/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;

    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Réglage du slider de température */
/**/
/* The slider itself */
.tempSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.tempSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.tempSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.tempSlider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}



/* Réglages du footer du modal */
/* */
.modal-footer {
    padding: 2px 16px;

    /*couleur du header et footer*/
    /*vert*/
    /*background-color: #5cb85c;*/

    /*orange comme sur la page*/
    background-color: darkorange;

    /*bleu aussi*/
    /*background-color: #0f2e60;*/

    color: white;
}



/* La partie sur les blocs des pièces de la maison */
/**/
#allrooms{
    background-color: #0f2e60;
    margin: 20px;
    border-radius: 25px;
    width: 97%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* La partie sur les blocs des pièces de la maison */
.rooms {
    /*display: inline-block;*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    /*width: 100%;*/
    /*background-color: grey;*/

}
/* Un bloc avec texte à gauche et photo à droite */
.roomInformation {
    display: inline-flex;
    width: 44%;

    margin: 3% 0 3% 0;

    border: solid 1px black;

    cursor: pointer;

}
.div1{
    width: 50%;
    background-color: darkorange;
}
.div2{
    width: 50%;
    padding: 0px;
}
.roomInformation li {
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
}
.div2 img {
    width: 100%;
    height: 35%;
    margin: auto;
}


/* Le bouton dans le footer pour programmer des actions */
.boutonScenario {
    text-align: center;
    background-color: #555;

    padding-top: 2%;
    padding-bottom: 4%;
}
.boutonScenario a {
    border: solid darkorange 2px;
    border-radius: 4px;

    padding: 5px;

    text-decoration: none;
    font-size: 27px;
    color: white;
}


/* Réglage spécial titre et paragraphe pour chaque bloc */
#titre {
    font-size: 35px;
    font-family: "Georgia";
    text-align: left;
    padding-left: 2%;
}
#paragraphe {
    font-size: 20px;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
}
.buttonAdd {
    align-items: center;
    background-color: darkorange;
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 80%;
}
.buttonAdd2 {
    background-color: darkorange;
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.cancelbtn {
    width: auto;
    border:none;
    margin:5px;
    padding: 10px 18px;
    background-color: #f44336;
}